@model VehicleRentalService.Models.ViewModels.VehicleListViewModel

@foreach(var v in Model.Vehicles)
{
	<div>
		<h3>@v.Name</h3>
		<h4>@v.Description</h4>
		<h4>@v.PricePerMinute.ToString("c", System.Globalization.CultureInfo.GetCultureInfo("de-DE"))/minute</h4>
        <br/>
	</div>
}

<div>
	Page @Model.PagingInfo.CurrentPage / @Model.PagingInfo.TotalPages
</div>

<div>
    @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
    {
        if (i == Model.PagingInfo.CurrentPage)
        {
            <span>@i</span> 
        }
        else
        {
            <a href="@Url.Action("Index", new { page = i })">@i</a>
        }
    }
</div>