@model VehicleRentalService.Models.ViewModels.CartViewModel

<link rel="stylesheet" href="@Url.Content("~/css/shopping-cart-styles.css")" />
@{
	@foreach (var v in Model.Items)
	{
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">@v.VehicleName</h5>
				<div class="d-flex justify-content-between align-items-center">
					<span class="h5 mb-0">@v.PricePerMinute/minute</span>
				</div>
			</div>
			<div class="card-footer d-flex justify-content-between bg-light">
				<span>@v.Quantity</span>
				<form asp-controller="ShoppingCart" asp-action="RemoveCookies" method="post">
					<input type="hidden" name="VehicleType" value="@v.VehicleType" />
					<input type="hidden" name="Id" value="@v.Id" />
					<button class="btn btn-primary btn-sm" name="remove-btn" type="submit">Remove</button>
				</form>
			</div>
		</div>
	}
}

<form method="post" asp-controller="Orders" asp-action="PlaceOrder" id="orderForm">
	<div class="mb-3">
		<label for="TripStart">Start Time</label>
		<input type="datetime-local" id="TripStart" name="TripBegin" value="@Model.TripBegin.ToString("yyyy-MM-ddTHH:mm")" class="form-control" />
	</div>
	<div class="mb-3">
		<label for="TripEnd">End Time</label>
		<input type="datetime-local" id="TripEnd" name="TripEnd" value="@Model.TripEnd.ToString("yyyy-MM-ddTHH:mm")" class="form-control" />
	</div>
	<button class="btn btn-primary btn-lg" type="submit">Place Order</button>
</form>
