@model VehicleRentalService.Models.ViewModels.VehicleListViewModel

@{
        @foreach (var v in Model.Vehicles)
        {
        <div style="border:solid; border-width:1px; border-color:grey; border-radius:6px; padding: 4px 6px">
                <h3>@v.Name</h3>
                <h4>@v.Description</h4>
                <h4 style="text-align:right;">
                <span style="background-color:#0d6efd; color:white; border-radius:6px; padding:2px 6px;">@v.PricePerMinute.ToString("c", System.Globalization.CultureInfo.GetCultureInfo("de-DE"))/minute</span>
                </h4>
                <br/>
            </div>
            <br />
        }

        <div>
            Page @Model.PagingInfo.CurrentPage / @Model.PagingInfo.TotalPages
        </div>

        <div>
            @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
            {
                if (i == Model.PagingInfo.CurrentPage)
                {
                    <span>@i</span>
                }
                else
                {
                    <a href="@Url.Action("Index", new { page = i, category = ViewData["CurrentCategory"] })">@i</a>
                }
            }
        </div>
}
